.fw-normal.text-info {
    margin-bottom: 25px;
    border-bottom: 2px solid gray;
    padding:0 0 30px 0;
}

.container-fluid.flex-fill {
    flex: 1 1 auto;
}

body {
    background-color: gray;
    margin-top: 125px;
}

.col-sm-6 {
    text-align:center;
}
